.celebra{
    color: #d03b40;
    padding: 100px;
    font-family: sans-serif;
    border-radius: 0px;
    background-color: #ded6c0;
    text-align: center;
    right: 100px;
    left: 500px;
    
  }

.img-oneone{
    position: relative;
    left: 660px;
    top: 40px;
}
.venalbrunch{
    color: #ded6c0;
    padding: 100px;
    font-family: sans-serif;
    border-radius: 0px;
    text-align: center;
    background-color: #d03b40;
    position: absolute;
   }

.title-two{
  position: absolute;
  color: white;
  left: 428px;
  display: block;
  top: 1100px;
  font-size: 40px;
}

.hr {
  height: 2px;
  width: 5%;
  background-color: white;
  position: absolute;
  top: 1200px;
  left: 580px;
}

.paragraph-three{
  color: white;
  top: 1250px;
  position: absolute;
  left: 350px;
  text-align: justify;
  text-align: center;
  right: 450px;
}

.button-one{
  position: absolute;
  top: 1350px;
  left: 506px;
  border-color: transparent;
  text-decoration: none;
  color: black;
  size: 20px;
}


 .hero-second-title{
  color: #221c5d;
  font-size: 30px;
  left: 400px;
  top: 500px;
}

.img-tmca{
  top: 530px;
  display: flex;
  position: relative;
}

.tmca-title{
  color: white;
  size: 400px;
  left: 00px;
  top: 650px;
  display: flex;
  position: absolute;
  
}

.tmca-title-dos{
  color: grey;
  display: flex;
  position: absolute;
  top: 680px;

}

.p1{
  color: black;
  background-color: white;
  border-color: yellow;
  position: absolute;
  left: 100px;
  top: 710px;
  right: 750px;
}

.p2{
  color: black;
  background-color: white;
  border-color: yellow;
  position: absolute;
  left: 700px;
  top: 710px;
  right: 100px;
}

.p3{
  color: black;
  background-color: white;
  border-color: yellow;
  position: absolute;
  left: 100px;
  top: 845px;
  right: 750px;
}

.p4{
  color: black;
  background-color: white;
  border-color: yellow;
  position: absolute;
  left: 700px;
  top: 845px;
  right: 100px;
}